.detailAvatar{
    width: 100%;
    margin-top:8%;
    margin-left: 12%;
    border-radius: 4px;
    box-shadow: 1px 1px 8px rgb(116, 116, 116);
}
#container{
    background:rgb(255, 255, 255);
    height:1000px;
}
#rowAvatar{
    margin-top:2%;
    height: 32%;
    overflow: scroll;
}
#col-10Avater{
    margin-top:2%;
    margin-left: 4%;
}
@media only screen and (max-width: 767px) {
    #col-10Avater{
        margin-left: 8%;
    }
}
.contentAvatar{
    margin-bottom:1%;
}
#contentAvatar{
    margin-bottom: 1%;
}