.hoverWrapper{
    padding-bottom:10px;
}
.hoverHide{
    height:10px;
    background-color: rgb(94, 94, 94);
}
.hoverWrapper .hoverShow1 {
    display: none;
    background-color: rgb(255, 145, 0);
}
.hoverShow2{
    height:3px;
    display: none;
    background-color: rgb(94, 94, 94);
}
.hoverWrapper:hover .hoverShow1 {
    display: block;
}
.hoverWrapper:hover .hoverHide {
    display: none;
}
.hoverWrapper:hover .hoverShow2 {
    display: block;
}

.thanh2{
    background-color: rgb(94, 94, 94);
    padding-top:10px;
}
.trangchu{
    margin-left:14%;
    font-size:24px;
}
.trangchu:hover{
    color: rgb(255, 145, 0);;
}
.hoverWrapper{
    margin-left:20px;
    font-size: 22px;
}
.col-1{
    height: 42px;
    color:rgb(31, 31, 31);
}
.col-2:hover{
    background-color:white;
}
.theLoai:hover{
    color: rgb(255, 145, 0);;
}
.nameOfWeb{
    margin-left: 13.5%;
    margin-right: 2%;
}